    @import url("./t_reset.css");

    /* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css"); */
    @font-face {
        font-family: 'Escoredream';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
        font-weight: 100;
        font-display: swap;
    }

    @font-face {
        font-family: 'Escoredream';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
        font-weight: 200;
        font-display: swap;
    }

    @font-face {
        font-family: 'Escoredream';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
        font-weight: 300;
        font-display: swap;
    }

    @font-face {
        font-family: 'Escoredream';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
        font-weight: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Escoredream';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
        font-weight: 500;
        font-display: swap;
    }

    @font-face {
        font-family: 'Escoredream';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
        font-weight: 600;
        font-display: swap;
    }

    @font-face {
        font-family: 'Escoredream';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
        font-weight: 700;
        font-display: swap;
    }

    @font-face {
        font-family: 'Escoredream';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
        font-weight: 800;
        font-display: swap;
    }

    @font-face {
        font-family: 'Escoredream';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
        font-weight: 900;
        font-display: swap;
    }

    html {
        scroll-behavior: smooth;
        font-size: 62.5%;
    }

    body {
        margin: 0;
        color: #1c1c1c;
        font-size: 1.6rem;
        font-weight: normal;
        font-family: 'Pretendard';
        line-height: 1.4;
    }

    .wrap {
        max-width: 114rem;
        margin: 0 auto;
    }

    .img-f {
        width: 100%;
    }

    .blind {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .visual-area {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .visual-area .visual {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
    }

    .visual-area .visual picture {
        width: 100%;
        object-fit: cover;
    }

    .visual-area .title {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 98;
    }

    .section1 {
        background: url(./241230/bg-pc.webp) repeat-y;
        width: 100%;
    }

    .section1 .inner {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .section1 .inner .line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid rgb(0 0 0 / 10%);
        padding: 7rem 0;
    }

    .section1 .inner .line:last-child {
        border-bottom: 0;
    }

    /* .item {
        display: flex;  
        flex-direction: column;
    } */
    .item .title p {
        position: relative;
        width: 4rem;
        height: 3rem;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 1rem;
        text-align: center;
    }

    .item .title p::after {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background: #1c1c1c;
        content: '';
    }

    .item .title span {
        font-size: 3rem;
        font-weight: 500;
        font-family: 'Escoredream';
    }

    .item h2 {
        font-size: 4.6rem;
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: -0.02rem;
        margin-bottom: 2rem;
    }

    .item h2 strong {
        color: #fe4651;
        font-weight: 700;
        font-family: 'Escoredream';
    }

    .item .info {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    .item .info dl {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.6rem
    }

    .item .info dl dt {
        font-size: 1.8rem;
        font-weight: 600;
        position: relative;
        padding: 0 1rem 0 1rem;
    }

    .item .info dl dt::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: rgb(0 0 0 / 80%);
        width: 0.3rem;
        height: 0.3rem;
        content: '';
        border-radius: 9rem;
    }

    .item .info dl dt::after {
        position: absolute;
        right: 0;
        content: ':';
    }

    .item .info dl dd {
        font-size: 1.8rem;
        font-weight: 400;
    }

    .section1 .inner .cp-box {
        width: 38rem;
        height: 24.5rem;
        color: #fff;
        text-align: center;
    }

    .section1 .inner .cp-box .bg1 {
        background: url(./241230/cp1-pc.webp) no-repeat center;
        background-size: 100% 100%;
        aspect-ratio: 380 / 180;
        width: 100%;
        height: auto;
        /* background-size: contain;
        width: 38rem;
        height: 18rem; */
    }

    .section1 .inner .cp-box .bg2 {
        background: url(./241230/cp2-pc.webp) no-repeat center;
        background-size: 100% 100%;
        aspect-ratio: 380 / 180;
        width: 100%;
        height: auto;
    }

    .section1 .inner .cp-box .bg3 {
        background: url(./241230/cp3-pc.webp) no-repeat center;
        background-size: 100% 100%;
        aspect-ratio: 380 / 180;
        width: 100%;
        height: auto;
    }

    /* .section1 .inner .cp-box .bg1 {
            background-size: 100% 100%;
            aspect-ratio: 380 / 180;
            width: 100%;
            height: auto;
        }
        .section1 .inner .cp-box .bg2 {
            background-size: 100% 100%;
            aspect-ratio: 380 / 180;
            width: 100%;
            height: auto;
        }
        .section1 .inner .cp-box .bg3 {
            background-size: 100% 100%;
            aspect-ratio: 380 / 180;
            width: 100%;
            height: auto;
        } */

    .section1 .inner .cp-box .txt {
        font-size: 1.8rem;
        display: block;
        padding-top: 2.5rem;
        line-height: 1.2;
    }

    .section1 .inner .cp-box .btn {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #1c1c1c;
        line-height: 100%;
    }

    .section1 .inner .cp-box .btn span {
        display: inline-block;
        height: 100%;
        line-height: 6.5rem;
        font-size: 2rem;
        color: #fff;
        padding: 0 3.5rem 0 0;
        background: url(./241230/hotel-bell.svg) no-repeat center right;
        background-size: 2.4rem;
    }

    .section2 {
        background-color: #efece9;
        padding: 8rem 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    .section2 h3 {
        font-size: 3rem;
        margin-bottom: 2.4rem;
        text-align: center;
    }

    .section2 .stxt {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .section2 .stxt p {
        font-size: 2rem;
        color: #676767;
    }

    .section2 .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        background: #1c1c1c;
        border-radius: 0.4rem;
        padding: 0.6rem 1rem;
    }

    .section2 .btn span {
        font-size: 1.6rem;
        color: #fff;
        line-height: 100%;
    }

    .section2 .btn svg {
        width: 1.6rem;
        height: 1.6rem;
    }

    .stepSwiper {
        width: 80%;
        margin: 0 auto;
    }

    .stepSwiper li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .stepSwiper li div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        margin: 0 auto;
        max-width: 25.6rem;
    }

    .stepSwiper li .num {
        background-color: transparent;
        border: 1px solid #1c1c1c;
        color: #1c1c1c;
        border-radius: 5rem;
        padding: 0.3rem 1rem;
        line-height: 100%;
        font-size: 1.8rem;
        font-weight: 600;
        font-family: 'Escoredream';
    }

    .stepSwiper li p {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.4rem;
        text-align: left;
        height: 4.8rem;
    }

    .stepSwiper picture {
        margin: 0 auto;
    }

    .swiper-button-prev {
        margin-left: 20px !important;
    }

    .swiper-button-next {
        margin-right: 20px !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 10vw !important;
        height: 10vw !important;
        max-width: 34px !important;
        max-height: 34px !important;
        color: #1c1c1c;
    }

    .swiper-button-prev svg,
    .swiper-button-next svg {
        color: #1c1c1c;
        width: 28px !important;
        height: 28px !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 60% !important;
    }

    .br {
        display: none;
    }

    @media (max-width: 1024px) {
        .section1 .inner {
            width: 79vw;
        }

        .section1 .inner .line {
            padding: 8vw 0;
        }

        .item h2 {
            font-size: 4vw;
            margin-bottom: 2vw;
        }

        .item .title p {
            width: 4.5vw;
            height: 3.4vw;
        }

        .item .title span {
            font-size: 3.5vw;
        }

        .item .title span::after {
            bottom: 2vw
        }

        .item .info {
            gap: 0;
        }

        .item .info dl {
            gap: 1vw;
        }

        .item .info dl dt,
        .item .info dl dd {
            font-size: 2vw;
        }

        .item .info dl dt {
            padding: 0 1.6vw 0 1.4vw;
        }

        .item .info dl dt::before {
            width: 0.5vw;
            height: 0.5vw;
        }

        .section1 .inner .cp-box {
            width: 36vw;
            height: auto;
        }

        .section1 .inner .cp-box .txt {
            display: block;
            font-size: 2vw;
            line-height: 1.2;
            padding-top: 2vw;
        }

        .section1 .inner .cp-box .btn {
            height: 6vw;
        }

        .section1 .inner .cp-box .btn span {
            font-size: 2vw;
            padding: 0 3.5vw 0 0;
            background-size: 2.6vw;
            line-height: 6vw;
        }

        .section2 {
            padding: 8vw 0 0 0;
            gap: 6vw;
        }

        .section2 h3 {
            font-size: 3vw;
            margin-bottom: 2.4vw;
        }

        .section2 .stxt {
            font-size: 1.8vw;
        }

        .stepSwiper {
            width: 80vw;
        }

        .stepSwiper li {
            gap: 2vw;
        }

        .stepSwiper li div {
            gap: 1vw;
        }

        .stepSwiper li .num {
            font-size: 1.8vw;
            padding: 0.4vw 1vw;
        }

        .stepSwiper li p {
            font-size: 1.8vw;
            line-height: 2.4vw;
            height: 4.8vw;
        }

    }

    @media (max-width:820px) {
        .section2 h3 {
            font-size: 3.5vw;
        }

        .stepSwiper {
            width: 90%;
        }

        .section2 .stxt {
            font-size: 2.5vw;
        }

        .section2 .btn span {
            font-size: 2vw;
        }

        .stepSwiper li {
            gap: 2vw;
        }

        .stepSwiper li div {
            gap: 1vw;
        }

        .stepSwiper li p {
            font-size: 2.2vw;
            line-height: 2.4vw;
            height: 5vw;
        }
    }

    @media (max-width: 750px) {
        .br {
            display: block;
        }

        .section1 .inner {
            width: 84vw;
        }

        .section1 .inner .line {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 7vw;
            padding: 12vw 0 14vw;
        }

        .item .title {
            text-align: center;
        }

        .item .title p {
            width: 9vw;
            height: 6.4vw;
            margin: 0 auto 2vw;
        }

        .item .title span {
            font-size: 6.5vw;
        }

        .item .title span::after {
            bottom: 2vw
        }

        .item h2 {
            font-size: 6.5vw;
            margin-bottom: 4vw;
        }

        .item .info {
            gap: 0;
        }

        .item .info dl {
            gap: 2vw;
        }

        .item .info dl dt,
        .item .info dl dd {
            font-size: 4vw;
        }

        .item .info dl dt {
            padding: 0 3vw 0 2vw;
        }

        .item .info dl dt::before {
            width: 1vw;
            height: 1vw;
        }

        .section1 .inner .cp-box {
            width: 65vw;
            height: auto;
        }

        .section1 .inner .cp-box .bg1 {
            background: url(./241230/cp1-mo.webp) no-repeat center;
            background-size: 100% 100%;
            aspect-ratio: 400 / 200;
            width: 100%;
            height: auto;
        }

        .section1 .inner .cp-box .bg2 {
            background: url(./241230/cp2-mo.webp) no-repeat center;
            background-size: 100% 100%;
            aspect-ratio: 400 / 200;
            width: 100%;
            height: auto;
        }

        .section1 .inner .cp-box .bg3 {
            background: url(./241230/cp3-mo.webp) no-repeat center;
            background-size: 100% 100%;
            aspect-ratio: 400 / 200;
            width: 100%;
            height: auto;
        }

        .section1 .inner .cp-box .txt {
            display: block;
            font-size: 3.8vw;
            line-height: 1.2;
            padding-top: 4.2vw;
        }

        .section1 .inner .cp-box .btn {
            height: 11vw;
        }

        .section1 .inner .cp-box .btn span {
            font-size: 4vw;
            padding: 0 7vw 0 0;
            background-size: 5vw;
            line-height: 11vw;
        }

        .section2 {
            padding-top: 13vw;
        }

        .section2 .title h3 {
            font-size: 5.9vw;
            font-weight: 600;
            line-height: 1.3;
            margin-bottom: 4vw;
        }

        .br {
            display: block;
        }

        .section2 .stxt {
            gap: 2vw;
        }

        .section2 .btn {
            gap: 1vw;
            padding: 1.6vw 2vw;
        }

        .section2 .btn span {
            font-size: 3.4vw;
        }

        .section2 .btn svg {
            width: 3.5vw;
            height: 3.5vw;
        }

        .section2 .stxt p {
            font-size: 3.4vw;
            line-height: 1.2;
        }

        .stepSwiper li {
            gap: 5.5vw;
        }

        .stepSwiper li div {
            max-width: 53vw;
            height: 11vw;
            gap: 2vw;
            align-items: center;
        }

        .stepSwiper li div p {
            font-size: 4.2vw;
            line-height: 1.4;
            height: auto;
        }

        .stepSwiper li div .num {
            font-size: 4.2vw;
        }

        .stepSwiper li:first-child div {
            align-items: flex-start;
        }

        .stepSwiper li picture {
            width: 53vw;
        }

        .swiper-button-prev,
        .swiper-button-next {
            margin-right: 5vw !important;
            margin-left: 5vw !important;
            /* width: 50vw !important;
            height: 50vw !important; */
            max-width: 20vw !important;
            max-height: 20vw !important;
        }

        .swiper-button-prev svg,
        .swiper-button-next svg {
            width: 10vw !important;
            height: 10vw !important;
        }

    }

    @media (max-width: 480px) {
        .section1 .inner {
            width: 100%;
        }

        .section2 {
            gap: 7vw;
        }

        .section2 .stxt {
            gap: 3vw;
        }

        .section2 .stxt p {
            font-size: 4vw;
        }

        .section2 .btn {
            padding: 2vw 2.2vw;
        }

        .section2 .btn span {
            font-size: 4vw;
        }

        .section2 .btn svg {
            width: 4vw;
            height: 4vw;
        }

        .stepSwiper li div {
            max-width: 60vw;
        }

        .stepSwiper li div .num {
            padding: 0.4vw 1.4vw;
            font-size: 4.2vw;
        }

        .stepSwiper li div p {
            font-size: 4.4vw;
        }

        .stepSwiper li picture {
            width: 70%;
        }

        .swiper-button-prev,
        .swiper-button-next {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }